:root {
  /* Color variables */
  --background-color-primary: #ffffff;
  --background-color-secondady: #f5f5f5;
  --background-color-tertiary: #000000;

  --button-color-primary: #b81515;
  --button-color-secondary: #8f0101;

  --text-color-primary: #222222;
  --text-color-secondady: #ffffff;

  /* Font Variables */
  --font-weight-title: 700;
  --font-weight-menu: 500;
  --font-weight-text: 400;
}
